<%- include("header"); -%>
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if(image === "NOIMAGE") { %>
        <img
          src="icons/profileDefault.png"
          alt="">
        <% } else {%>
        <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="profile Image" />
        <% } %>
        <div class="file btn btn-lg btn-primary">
          Change Profile Picture
          <form action="/private/profileImageUpload" method="POST" enctype="multipart/form-data">
            <div>
              <input type="hidden" name="userID" value="<%=userID%>">
              <input type="file" id="image" name="image" required onchange="form.submit()">
            </div>
            <p><%=imageErroMessage%></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <h2>
          <%=displayName%>
        </h2>
        <h5>
          <%=profession%>
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>WORK LINK</p>
        <a href="">Website Link</a><br />
        <a href="">Bootsnipp Profile</a><br />
        <a href="">Bootply Profile</a>
        <p>SKILLS</p>
        <a href="">Web Designer</a><br />
        <a href="">Web Developer</a><br />
        <a href="">WordPress</a><br />
        <a href="">WooCommerce</a><br />
        <a href="">PHP, .Net</a><br />
      </div>
    </div>
    <div class="col-md-8">

      <div class="profile-tab">
        <div class="">
          <h2 class="mt-2 form-label">Persional Profile</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6">
              <label>User Id</label>
            </div>
            <div class="col-md-6">
              <p><%=userID%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p><%=memberName%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p><%=emailAddr%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p><%=phoneNumber%></p>
            </div>
          </div>
          <h2 class="mt-2 form-label">Work Profile</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6">
              <label>Profession</label>
            </div>
            <div class="col-md-6">
              <p><%=profession%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Experience</label>
            </div>
            <div class="col-md-6">
              <p><%=experience%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Hourly Rate</label>
            </div>
            <div class="col-md-6">
              <p><%=pay%> (Per Hour)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Total Projects</label>
            </div>
            <div class="col-md-6">
              <p><%=projectCount%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Preferred Language</label>
            </div>
            <div class="col-md-6">
              <p><%=language%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Availability</label>
            </div>
            <div class="col-md-6">
              <p><%=availability%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="mt-2 form-label">Your Bio</h2>
              <hr class="mb-4">
              <p><%=bio%></p>
            </div>
          </div>
          <h2 class="mt-2 form-label">List a Serivce</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-12">
              <form action="/private/servicePosting" method="POST"">
                <div>
                  <input type="hidden" name="userID" value="<%=userID%>">
                  <label class="form-label">Service Title:</label>
                  <input type="text" class="form-control mb-1" name="serviceTitle">
                  <label class="form-label">Service Details:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="serviceDetails"  rows="3"></textarea>
                  <button class="mt-2 w-100 btn btn-lg btn-outline-primary" type="Submit">List serivce!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer"); -%>
