<%- include("header"); -%>
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if(image === "NOIMAGE") { %>
        <img src="icons/profileDefault.png" alt="">
        <% } else {%>
        <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="profile Image" />
        <% } %>
        <div class="file btn btn-lg btn-primary">
          Change Profile Picture
          <form action="/private/profileImageUpload" method="POST" enctype="multipart/form-data">
            <div>
              <input type="hidden" name="userID" value="<%=userRelated._id%>">
              <input type="file" id="image" name="image" required onchange="form.submit()">
            </div>
            <p><%=imageErroMessage%></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <p>
        <h2>
          <%=userRelated.displayName%>
        </h2>
        <h5>
          <em><%=userRelated.profession%></em>
        </h5>
        </p>
      </div>
      <a href="/myposts" class="mt-1 w-100 btn btn-outline-primary btn-sm profile-nav-link" role="Submit">View my services [<%=serviceCount%>]</a>
      <a href="/bookmarks" class="mt-1 w-100 btn btn-outline-primary btn-sm profile-nav-link" role="button">Bookmarked Services [<%=(userRelated.bookmarkService).length%>]</a>
      <a href="/settings" class="mt-1 w-100 btn btn-outline-primary btn-sm profile-nav-link"  role="button">Profile Settings</a>
      <a href="/listService" class="mt-1 w-100 btn btn-primary btn-sm profile-nav-link" role="button">List New Service</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>WORK LINK</p>
        <a href="">Website Link</a><br />
        <a href="">Bootsnipp Profile</a><br />
        <a href="">Bootply Profile</a>
        <p>SKILLS</p>
        <a href="">Web Designer</a><br />
        <a href="">Web Developer</a><br />
        <a href="">WordPress</a><br />
        <a href="">WooCommerce</a><br />
        <a href="">PHP, .Net</a><br />
      </div>
    </div>
    <div class="col-md-8">

      <div class="profile-tab">
        <div class="">
          <h2 class="mt-2 form-label">Persional Profile</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6">
              <label>User Id</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated._id%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.memberName%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.emailAddr%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Phone</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.phoneNumber%></p>
            </div>
          </div>
          <h2 class="mt-2 form-label">Work Profile</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6">
              <label>Profession</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.profession%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Experience</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.experience%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Hourly Rate</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.pay%> (Per Hour)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Total Projects</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.projectCount%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Preferred Language</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.language%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Availability</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.availability%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="mt-2 form-label">Your Bio</h2>
              <hr class="mb-4">
              <p><%=userRelated.bio%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer"); -%>
