<%- include("header"); -%>
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <% if(image === "NOIMAGE") { %>
        <img src="/icons/profileDefault.png" alt="">
        <% } else {%>
        <img src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="profile Image" />
        <% } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <p>
        <h2>
          <% if(userRelated.displayName){ %>
            <%=userRelated.displayName%>
          <% } else { %>
            <%=userRelated.username%>
          <% } %>
        </h2>
        <h5>
          <em><%=userRelated.profession%></em>
        </h5>
        </p>
        <h5>
          Current listing services (<%=serviceCount%>)
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p>WORK LINK</p>
        <a href="">Website Link</a><br />
        <a href="">Bootsnipp Profile</a><br />
        <a href="">Bootply Profile</a>
        <p>SKILLS</p>
        <a href="">Web Designer</a><br />
        <a href="">Web Developer</a><br />
        <a href="">WordPress</a><br />
        <a href="">WooCommerce</a><br />
        <a href="">PHP, .Net</a><br />
      </div>
    </div>
    <div class="col-md-8">

      <div class="profile-tab">
        <div class="">
          <h2 class="mt-2 form-label">Work Profile</h2>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6">
              <label>Profession</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.profession%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Experience</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.experience%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Hourly Rate</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.pay%> (Per Hour)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Total Projects</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.projectCount%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Preferred Language</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.language%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Availability</label>
            </div>
            <div class="col-md-6">
              <p><%=userRelated.availability%></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <% if(userRelated.displayName){ %>
                <h2 class="mt-2 form-label"><%=userRelated.displayName%>'s Bio</h2>
              <% } else { %>
                <h2 class="mt-2 form-label"><%=userRelated.username%>'s Bio</h2>
              <% } %>
              <hr class="mb-4">
              <p><%=userRelated.bio%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer"); -%>
